{% extends 'main/base.html' %}

{% block content %}

{% if reviews %}
<div class="row justify-content-center">
    {% for el in reviews %}
                    <div class="alert-warning mt-2 ml-2">
                        <div class="card">
                            <div class="card-details">
                                <p class="text-title mt-2 ml-2">{{ el.text }}</p>
                            </div>
                        </div>
                    </div>
    {% endfor %}
</div>
{% endif %}


<section class="comments">
    <h5>если оценок стало мало*</h5>
    <a>тут ты можешь добавлять комментарии для парня</a>
    <br>
    <br>
    <form method="POST" action="">
        {% csrf_token %}
        <textarea name="text" id="text" cols="30" rows="5" class="form-control"></textarea>
        <br>
        <button type="submit">отправить</button>
    </form>
</section>

{% endblock %}
