{% extends 'main/base.html' %}

{% block content %}
    <br>
    <h3>Добавить парня</h3>
    <a >вводи полное имя и фамилию, так мы сможем совмещать все баллы и поступки правильно♥︎</a>
    <br>
    <br>
    <form method="post">
        {% csrf_token %}
        {{ form.title }}<br>
        {{ form.boy_age }}<br>
         <span class="custom-dropdown big">
            <select name="size" id="id_size">
                    <option value="">его поступок...</option>
                    <option value='Ничего не сделал'>Ничего не сделал + 0 </option>
                    <option value='Открыл дверь'> Открыл дверь + 1</option>
                    <option value='Помог расчесать волосы'>Помог расчесать волосы + 1</option>
                    <option value='Сделал комплимент'>Сделал комплимент + 1</option>
                    <option value='Уступил место'>Уступил место + 2</option>
                    <option value='Обнял при встрече'>Обнял при встрече + 2</option>
                    <option value='Помог донести тяжелую сумку'>Помог донести тяжелую сумку + 2</option>
                    <option value='Взял за руку'>Взял за руку + 3</option>
                    <option value='Выложил твой пост в сторис'>Выложил твой пост в сторис + 3</option>
                    <option value='Накинул свою куртку в холодный вечер'>Накинул свою куртку в холодный вечер + 3</option>
                    <option value='Помог убраться'>Помог убраться + 3</option>
                    <option value='Проводил'>Проводил + 3</option>
                    <option value='Подарил цветы'>Подарил цветы + 4</option>
                    <option value='Принес кофе'>Принес кофе+ 4</option>
                    <option value='Встретил после учебы'>Встретил после учебы + 4</option>
                    <option value='Рассказал смешную шутку'>Рассказал смешную шутку + 4</option>
                    <option value='Починил нерабочий код'>Починил нерабочий код+ 5</option>
                    <option value='Помог с чем-то'>Помог с чем-то + 5</option>
                    <option value='Поддержал и выслушал'>Поддержал и выслушал + 5</option>
                    <option value='Подарил плюшевую игрушку'>Подарил плюшевую игрушку + 5</option>
                    <option value='Подвез до дома'>Подвез до дома + 6</option>
                    <option value='Познакомил с друзьями'>Познакомил с друзьями + 6</option>
                    <option value='Скинул дз'>Скинул дз + 6</option>
                    <option value='Потанцевал со мной'>Потанцевал со мной + 6</option>
                    <option value='Пригласил погулять'>Пригласил погулять + 6</option>
                    <option value='Красиво сфотографировал'>Красиво сфотографировал + 7</option>
                    <option value='Отдал свою футболку/толстовку'>Отдал свою футболку/толстовку + 7</option>
                    <option value='Познакомил с родителями'>Познакомил с родителями + 7</option>
                    <option value='Понес на руках'>Понес на руках + 7</option>
                    <option value='Подарил духи'>Подарил духи + 7</option>
                    <option value='Приготовил ужин'>Приготовил ужин + 8</option>
                    <option value='Заступился за меня'>Заступился за меня + 8</option>
                    <option value='Сделал массаж'>Сделал массаж + 8</option>
                    <option value='Сходил со мной за одеждой'>Сходил со мной за одеждой + 8</option>
                    <option value='Оплатил маникюр'>Оплатил маникюр + 8</option>
                    <option value='Подарил украшение'>Подарил украшение + 8</option>
                    <option value='Достал билеты на концерт любимой группы'>Достал билеты на концерт любимой группы + 8</option>
                    <option value='Поцеловал'>Поцеловал + 9</option>
                    <option value='Признался в любви'>Признался в любви + 9</option>
                    <option value='Обнял и лежал с тобой'>Обнял и лежал с тобой + 9</option>
                    <option value='Внимательно слушал тебя'>Внимательно слушал тебя + 9</option>
                    <option value='Устроил романтическое свидание'>Устроил романтическое свидание + 10</option>
                    <option value='Подарил путешествие'>Подарил путешествие + 10</option>
                    <option value='Разбудил'>Разбудил - 3</option>
                    <option value='Разозлил'>Разозлил - 3</option>
                    <option value='Не проявил интерес'>Не проявил интерес - 4</option>
                    <option value='Обманул, но признался сам'>Обманул, но признался сам - 4</option>
                    <option value='Критиковал мой образ'>Критиковал мой образ - 4</option>
                    <option value='Устроил в квартире срач'>Устроил в квартире срач - 4</option>
                    <option value='Не помог'>Не помог - 4</option>
                    <option value='Не подождал'>Не подождал - 4</option>
                    <option value='Сравнил с бывшими девушками'>Сравнил с бывшими девушками - 4</option>
                    <option value='Забуллил'>Забуллил - 5</option>
                    <option value='Некрасиво пошутил'>Некрасиво пошутил - 5</option>
                    <option value='Забыл забрать тебя'>Забыл забрать тебя - 5</option>
                    <option value='Сильно напился'>Сильно напился - 5</option>
                    <option value='Не пошел со мной в зал'>Не пошел со мной в зал - 5</option>
                    <option value='Поставил свое желание выше моего'>Поставил свое желание выше моего - 5</option>
                    <option value='Не хочет знакомить с родителями'>Не хочет знакомить с родителями - 5</option>
                    <option value='Флиртовал с другой'>Флиртовал с другой - 6</option>
                    <option value='Накричал'>Накричал - 6</option>
                    <option value='Опоздал на встречу'>Опоздал на встречу - 6</option>
                    <option value='Не понял намек'>Не понял намек - 6</option>
                    <option value='Не разговаривал со мной весь вечер'>Не разговаривал со мной весь вечер - 6</option>
                    <option value='Ушел на тусовку не предупредив'>Ушел на тусовку не предупредив - 6</option>
                    <option value='Попросил счет пополам'>Попросил счет пополам - 6</option>
                    <option value='Отстранился при друзьях'>Отстранился при друзьях - 6</option>
                    <option value='Сказал что мое хобби бесполезно'>Сказал что мое хобби бесполезно - 6</option>
                    <option value='Не поздравил с днем рождения'>Не поздравил с днем рождения - 6</option>
                    <option value='Не захотел разрешить конфликт'>Не захотел разрешить конфликт - 7</option>
                    <option value='Жаловался на жизнь'>Жаловался на жизнь - 7</option>
                    <option value='Плохо относится к твоим друзьям'>Плохо относится к твоим друзьям - 7</option>
                    <option value='Жёстко контролил'>Жёстко контролил - 7</option>
                    <option value='Обманул и увиливал'>Обманул и увиливал - 7</option>
                    <option value='Нарушил личные границы'>Нарушил личные границы - 8</option>
                    <option value='Попросил изменить мою внешность'>Попросил изменить мою внешность - 8</option>
                    <option value='Не выполнил обещание'>Не выполнил обещание - 8</option>
                    <option value='Сказал что он всегда прав'>Сказал что он всегда прав - 8</option>
                    <option value='Общался с бывшей'>Общался с бывшей - 8</option>
                    <option value='Манипулировал'>Манипулировал - 8</option>
                    <option value='Не захотел проводить время вдвоем'>Не захотел проводить время вдвоем - 8</option>
                    <option value='Обвинил меня в своих неудачах'>Обвинил меня в своих неудачах - 8</option>
                    <option value='Слился со свидания'>Слился со свидания - 8</option>
                    <option value='Довел до слез'>Довел до слез - 9</option>
                    <option value='Игнорировал'>Игнорировал - 9</option>
                    <option value='Бросил'>Бросил - 10</option>
                    <option value='Изменил'>Изменил - 10</option>
                </select>
         </span>
    </form>
    <br>
    <br>
    <button> добавить </button>
    <span>{{ error }}</span>
{% endblock %}