{% extends 'main/base.html' %}

{% block content %}
<table id="myTable">
        <tr>
            <th>его поступки</th>
        </tr>
        {% if tasks %}
            {% for el in tasks %}
                <tr>
                    <td>{{ el.size|linebreaks }}</td>
                </tr>
            {% endfor %}
        {% endif %}
</table>

<section class="deeds">
    <br>
    <br>
    <form method="post">
        {% csrf_token %}
        <button> dam </button>
        <br>
        <br>
    </form>
</section>

<br>
<br>
<a class="py-2 text-dark" href="{% url 'home' %}">назад к парням</a>

{% endblock %}
