{% extends 'main/base.html' %}

{% block content %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        <strong>Сообщенька:</strong> {{ message }}
    </div>
    {% endfor %}
    {% if tasks %}
        <div class="row justify-content-center">
            {% for el in tasks %}
                <div class="alert-warning mt-2 ml-2">
                    <div class="card">
                        <div class="card-details">
                        <p class="text-title mt-2 ml-2">{{ el.title }}</p>
                            <p class="text-center mt-2 ml-2> ">(\ _/) <br> ( •.•) <br> <a class="py-2 text-white"> ss </a> /> <a class="py-2 text-white"> s </a> {{ el.score }}</p>
                        </div>
                        <div class="row justify-content-center">
                            <button class="card-button2"><a class="py-2 text-white disabled-link" href="{% url 'deed' title=el.title %}">его поступки</a></button>
                            <div class="p-2">
                                <a class="py-2 text-dark" href="{% url 'add' title=el.title%}">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                                        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <br>
        <article class="main-article text-dark">
                    <div class="main-article__content">
                        <h2 class="main-article__header">Что это?</h2>
                        <p class ="main-article__paragraph">Наше приложение поможет людям оценивать друг друга. Так ты быстрее поймешь каких людей нужно отпустить
                            из своей жизни еще до встречи с психотерапевтом</p>
                    </div>
                <p class="text-center">*ты пока никого не добавила*</p>
            <p class="text-center">
                <a class="text-dark">♡ hse girls project ♡</a>
            </p>
        </article>
    {% endif %}
{% endblock %}
