{% extends 'main/base.html' %}

{% block content %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        <strong>Сообщенька:</strong> {{ message }}
    </div>
    {% endfor %}
    {% if tasks %}
        <div class="row justify-content-center">
            {% for el in tasks %}
                <div class="alert-warning mt-2 ml-2">
                    <div class="card">
                        <div class="card-details">
                        <p class="text-title mt-2 ml-2">{{ el.title }}</p>
                            <p class="text-center mt-2 ml-2> ">(\ _/) <br> ( •.•) <br> <a class="py-2 text-white"> ss </a> /> <a class="py-2 text-white"> s </a> {{ el.score }}</p>
                        </div>
                    <button class="card-button2"><a class="py-2 text-white" href="{% url 'deed' %}">его поступки</a></button>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <br>
        <article class="main-article text-dark">
                    <div class="main-article__content">
                        <h2 class="main-article__header">Что это?</h2>
                        <p class ="main-article__paragraph">Наше приложение поможет людям оценивать друг друга. Так ты быстрее поймешь каких людей нужно отпустить
                            из своей жизни еще до встречи с психотерапевтом</p>
                    </div>
                <p class="text-center">*ты пока никого не добавила*</p>
            <p class="text-center">
                <a class="text-dark">♡ hse girls project ♡</a>
            </p>
        </article>
    {% endif %}
{% endblock %}