{% extends 'main/base.html' %}

<!--from .models import Reviews-->
{% block content %}
    <br>
    <h3>Глобальный рейтинг</h3>
    <p class="text-center">тут можно посмотреть на баллы всех мальчиков-зайчиков, которых добавляли ♡</p>
    <style>
        table {
            width: 100%;
            border: none;
            margin: auto;
        }

        th {
            padding: 10px;
	        font-weight: 500;
	        font-size: 16px;
            line-height: 18px;
            color: rgb(78, 52, 100);
            border-top: 2px solid rgb(78, 52, 100);
            border-bottom: 2px solid #4e3464;
            text-align: center;
        }

        td {
            padding: 10px;
            font-size: 14px;
            line-height: 20px;
            color: #444441;
            border-top: 1px solid #716561;
            text-align: center;
        }

        tr:nth-child(even) {
          background-color: #f2f2f2
        }
    </style>

    <p class="text-center">нажми, чтобы отсортировать таблицу по баллам</p>
    <p class="text-center"><button onclick="sortTable()">сортировать</button></p>
    <table id="myTable">
        <tr>
            <th>балл</th>
            <th>имя фамилия (возраст)</th>
<!--            <th>соотношение поступков</th>-->
            <th>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-heart" viewBox="0 0 16 16">
                    <path d="M9 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Zm-9 8c0 1 1 1 1 1h10s1 0 1-1-1-4-6-4-6 3-6 4Zm13.5-8.09c1.387-1.425 4.855 1.07 0 4.277-4.854-3.207-1.387-5.702 0-4.276Z"/>
                </svg>
            </th>
            <th>комментарии</th>
        </tr>
        {% if tasks %}
            {% for el in tasks %}
                <tr>
                    <td>{{ el.score }}</td>
                    <td>{{ el.title }} ({{ el.boy_age }})</td>
                    <td>{{ el.boygirlmatch_set.count }} </td>
                    <td><a class="py-2 text-dark disabled-link" href="{% url 'comments' title=el.title %}">
                        (
                        {{ el.reviews_set.count }}
                        )
                    </a></td>
                </tr>
            {% endfor %}
        {% endif %}
    </table>


    <script>
        function sortTable() {
        var table, rows, switching, i, x, y, shouldSwitch;
        table = document.getElementById("myTable");
        switching = true;
        while (switching) {
            switching = false;
            rows = table.rows;
            for (i = 1; i < (rows.length - 1); i++) {
                shouldSwitch = false;
                x = rows[i].getElementsByTagName("TD")[0];
                y = rows[i + 1].getElementsByTagName("TD")[0];
                if (Number(x.innerHTML) < Number(y.innerHTML)) {
                    shouldSwitch = true;
                    break;
                }
            }
            if (shouldSwitch) {
              rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
              switching = true;
            }
        }
    }
    </script>

{% endblock %}
