.container button {
 width: 9em;
 height: 3em;
 border-radius: 30em;
 font-size: 15px;
 font-family: inherit;
 border: none;
 position: relative;
 overflow: hidden;
 z-index: 1;
 box-shadow: 6px 6px 12px #c5c5c5,
             -6px -6px 12px #ffffff;
}

.container button::before {
 content: '';
 width: 0;
 height: 3em;
 border-radius: 30em;
 position: absolute;
 top: 0;
 left: 0;
 background-image: linear-gradient(to right, #4e3464 0%, rgba(200, 176, 220, 0.78) 100%);
 transition: .5s ease;
 display: block;
 z-index: -1;
}

.container button:hover::before {
 width: 9em;
}

.card {
 width: 190px;
 height: 350px;
 border-radius: 20px;
 background: #f5f5f5;
 position: relative;
 padding: 1.8rem;
 border: 2px solid #c3c6ce;
 transition: 0.5s ease-out;
 overflow: visible;
}

.card-details {
 color: #030005;
 height: 100%;
 gap: .5em;
 display: grid;
 place-content: center;
}

.card-button {
 width: 60%;
 border-radius: 1rem;
 border: none;
 background-color: #2c1d44;
 color: #fff;
 font-size: 1rem;
 padding: .5rem 1rem;
 position: absolute;
 bottom: 0;
 transition: 0.3s ease-out;
}

.card-button2 {
 width: 30%;
 border-radius: 1rem;
 border: none;
 background-color: #6c3463;
 color: #fff;
 font-size: 1rem;
 padding: .5rem 1rem;
 position: absolute;
 bottom: 0;

 transition: 0.3s ease-out;
}

.text-body {
 color: rgb(134, 134, 134);
}


/*Text*/
.text-title {
 font-size: 1.5em;
 font-weight: bold;
}

/*Hover*/
.card:hover {
 border-color: #4e3464;
 box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}

.card:hover .card-button {
 transform: translate(-50%, 50%);
 opacity: 1;
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
}

.loader {
  display: inline-block;
  width: 190px;
  height: 10px;
  border-radius: 40px;
  background-color: rgb(185, 2, 2);
  position: relative;
  overflow: hidden;
}

.loader span {
  font: 700 22px monospace;
  text-transform: uppercase;
  margin: auto;
  color: #650000;
  letter-spacing: 5px;
}

.loader::before {
  content: "";
  position: absolute;
  top: 0;
  left: -50px;
  width: 150%;
  height: 100%;
  background-image: linear-gradient(332deg, #26592e, #164217);
  border-radius: inherit;
  transform: scaleX(0);
  transform-origin: left;
  animation: load5123 1s infinite;
}

@keyframes load5123 {
  50% {
    transform: scaleX(1);
  }

  100% {
    transform: scaleX(0);
    transform-origin: right;
  }
}

.go-corner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 32px;
  height: 32px;
  overflow: hidden;
  top: 0;
  right: 0;
  background-color: rgba(103, 86, 121, 0.78);
  border-radius: 0 4px 0 32px;
}

.go-arrow {
  margin-top: -4px;
  margin-right: -4px;
  color: black;
  font-family: courier, sans;
}
